#about {
  padding:278px 10px 200px 20px !important;  
  background-image: url(../img/px2.jpg);
  background-repeat: no-repeat;
  overflow: hidden !important;
  background-size: cover;

}
.fonts{
	font-size: 30px;
	margin-bottom: 10px;
	margin-top: 5px;

}
#fonts1{
	font-size: 30px !important;	

    font-weight: 800;
}
.card--img img{
	height: 300px !important;
}
.fn{
	margin-top: 20px;
	margin-bottom: 0;
}
.hedi {
	color:black !important;
}
body h2,h3,h4,p{ color: black; }
.linksg {
	margin-left: 5px;
	font-size: 18px !important;
	display: inline;
}

.cardbk{
	background-image: linear-gradient(9deg, #004085, #17a2b8 )!important;
}
.cardbk i{
	font-size: 3rem !important;}
.cardbk h5 {
	color: black;
}
